.container {
  display: "flex";
  height: 100%;
  flex-direction: column;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  color: white;
  background-color: #282c34;
}

.logo {
  width: 40px;
  height: 40px;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

main {
  flex-grow: 1;
  padding: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
